[submodule "JJEngine/thirdparty/glfw"]
	path = JJEngine/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "JJEngine/thirdparty/glm"]
	path = JJEngine/thirdparty/glm
	url = https://github.com/g-truc/glm.git
